<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
  <meta charset="utf-8">
  <title>aji</title>
  <link rel="stylesheet" type="text/css" href="build/main.min.css">
</head>
<body>
  <div id="app">
    <div class="section" id="view">
      <canvas id="canvas" :width="canvasWidth" :height="canvasHeight"></canvas>
      <canvas id="invisible" style="display: none"></canvas>
    </div>
    <div class="section" id="controller">
      <div>
        <div id="panel">
          <div><span>padding:</span><input type="value" v-model="controller.padding"></div>
          <div><span>显示外框</span><input type="checkbox" v-model="controller.displayBorder"></div>
          <button @click="addBody">添加bodies</button>
          <button @click="addAccessory">添加accessories</button>
          <button @click="addLine">添加line</button>
          <button @click="output">输出图片</button>
        </div>
        <div id="renderList">
          <div class="order" :class="{'order-highlight': activePart===el.type+el.index}" v-for="el in order" :key="el.type+el.index">{{el.type+el.index}}</div>
        </div>
        <br>
        <div id="trashBin">
          <div class="order">🗑</div>
        </div>
      </div>
    </div>
    <div class="section" id="models">
      <!-- <scroll-view class="container" :vertical="true" style="max-height: calc(100vh - 2 * var(--section-padding))"> -->
        <folder :name="`heads[${$store.state.heads.length}]`">
          <image-part v-for="(head, i) in $store.state.heads" :name="'heads'+i" :ref="'heads'" :key="'heads'+i"  :elements="elements.heads" @changed="updateCanvas" @focused="updateTarget"></image-part>
        </folder>
        <folder :name="`faces[${$store.state.faces.length}]`">
          <image-part v-for="(face, i) in $store.state.faces" :name="'faces'+i" :ref="'faces'" :key="'faces'+i"  :elements="elements.faces" @changed="updateCanvas" @focused="updateTarget"></image-part>
        </folder>
        <folder :name="`bodies[${$store.state.bodies.length}]`">
          <image-part v-for="(body, i) in $store.state.bodies" :name="'bodies'+i" :ref="'bodies'" :key="'bodies'+i" :elements="elements.bodies" @changed="updateCanvas" @focused="updateTarget"></image-part>
        </folder>
        <folder :name="`accessories[${$store.state.accessories.length}]`">
          <image-part v-for="(accessory, i) in $store.state.accessories" :name="'accessories'+i" :ref="'accessories'" :key="'accessories'+i" :elements="elements.accessories" @changed="updateCanvas" @focused="updateTarget"></image-part>
        </folder>
        <folder :name="`lines[${$store.state.lines.length}]`">
          <text-part v-for="(line, i) in $store.state.lines" :name="'lines'+i" :ref="'lines'" :key="'lines'+i" @changed="updateCanvas" @focused="updateTarget"></text-part>
        </folder>
      <!-- </scroll-view> -->
    </div>
    <div class="section" id="model">
      <!-- why is key important? -->
      <!-- Answer: vue automatically reuse things caused corruption -->
      <!-- why can't show? -->
      <image-part v-if="activePart&&!activePart.startsWith('line')" :name="activePart" ref="mImage" :key="activePart" :elements="elements[activePart.slice(0,-1)]" @changed="updateCanvas" @focused="updateTarget"></image-part>
      <text-part v-if="activePart&&activePart.startsWith('line')" :name="activePart" ref="mText" :key="activePart" @changed="updateCanvas" @focused="updateTarget"></text-part>
    </div>
    <modal v-if="controller.showOutput" @close="controller.showOutput = false">
      <h3 slot="header"></h3>
      <img slot="body" :src="controller.outputImg">
      <h3 slot="footer"></h3>
    </modal>
  </div>
  <script src='build/vue.js'></script>
  <script src='build/vuex.js'></script>
  <script src='build/main.min.js'></script>
</body>
</html>