
    * {
      margin: 0;
    }
    body{
      height: 100vh;
    }
    canvas {
      position: relative;
      width: 400px;
      height: 300px;
      display: block;
      box-shadow: 0 0 5px #ccc;
    }
    input:focus {
      box-shadow: 0 0 2px #eef;
    }
    .element {
      max-width: 100px;
      max-height: 100px;
      border: 1px black;
      box-sizing: border-box;
    }
    .selected {
      box-shadow: 0 0 5px #666;
    }
    .title{
      display: inline-block;
      width: 5vw;
    }
    .desc{
      display: inline-block;
      width: 5vw;
    }
    .wrapper{
      position: relative; 
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
    }
    .section {
      position: absolute; 
      height: 100vh;
      display: inline-block;
    }
    #output {
      width: 40vw;
      left:0;
    }
    #input {
      width: 55vw;
      right: 0;
    }