* {
  margin: 0;
}
*:focus {
  outline: none;
}
:root{
  --view-width: 440px;
  --view-height: 350px;
  --section-padding: 40px;
  --desc-width: 50px;
  --desc-size: 10px;
  --element-size: 60px;

}

@media (max-width: 1000px) {
  :root{
    --view-width: 44vw;
    --view-height: 35vw;
    --section-padding: 4vw;
    --desc-width: 5vw;
    --desc-size: 1vw;
  }
}

.section {
  position: absolute;
  display: inline-block;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}
#view {
  width: var(--view-width);
  height: var(--view-height);
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: var(--section-padding);
}
#canvas {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  box-shadow: 0 0 5px #ccc;
}
#controller {
  width: var(--view-width);
  height: calc(100vh - var(--view-height));
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 0 var(--section-padding);
}
.order{
  margin: 1px 0;
  padding: 3px 0;
  background-color: #ccc;
  border-radius: 3px; 
}
#model {
  width: calc(100vw - var(--view-width));
  height: 100vh;
  right: 0;
  top: 0;
  box-sizing: border-box;
  padding: var(--section-padding);
}
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.sortable-ghost{
  opacity: 0.5;
}
/*input:focus {
  box-shadow: 0 0 2px #eef;
}
.selected {
  box-shadow: 0 0 5px #666;
}
.wrapper{
  position: relative; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}*/